html {
  /* background-image: url("assets/holo.jpg"); */
  background-image: url("assets/ii.jpg");
  background-repeat: repeat;
  /* background-color: rgba(234, 144, 180, 0.903);
  background-blend-mode: multiply; */

}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  overscroll-behavior: none;
  font-family: 'Space Mono', monospace;
  font-size: 0.85em;
  color:#190783;
}

.left {
  margin: 20px auto;
  width: 55%;
}

.right {
  margin: 28px auto;
  width: 30%;
}

.title {
    color: rgb(0, 0, 0);
}

.entry {
  margin: 10px 0;
  padding: 3px 5px;
  background-color: rgba(235, 234, 255, 0.832);
  border: 3px double  #000000;
  overflow-wrap: break-word;
}

.date {
  text-align: right;
  color: #df6fb4;
  font-size: 0.9em;
}

.box {
  background-color: rgba(255, 255, 255, 0.873);
  border: 3px double black;
  padding: 10px;
  margin: 20px auto;
  overflow-wrap: break-word;
}

a {
    color: #dd379d;
}

img {
  max-height: 200px;
  max-width: 90%;
  width: auto;
  height: auto;
  margin: 10px;
}


@media screen and (max-width: 768px) {
  body {
    font-size: 0.75em;
  }
}